@import '../index.css';

.hamburger-container {
    position: absolute;
    /* allows its position to be relative to its normal position */
    right: 20px;
    top: 15px;
}

.hamburger {
    background: none;
    border: none;
    /* this and background make it less like a normal button */
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color, #000);
    transition: color 0.3s;
}

.menu {
    position: absolute;
    top: 50px;
    right: 0;
    animation: slideLeft 0.2s ease-in-out;
}

.theme-toggle-button {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    font-size: 1.4rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.theme-toggle-button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

@keyframes slideLeft {
    from {
        transform: translateX(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}