:root {
  font-family: system-ui;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* actually changes the color of the background */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

/* used for defining variables only */
body.light {
  --background-color: #f5f5f5;
  --task-section-background: #f9f9f9;
  --task-background: #ffffff;
  --text-color: #1e1e1e;
}

body.dark {
  --background-color: #262626;
  --task-section-background: #2f2f2f;
  --task-background: #2c2c2c;
  --text-color: #f0f0f0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-columns {
  background-color: var(--task-section-background);
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  border-radius: 12px;
  padding: 2.5rem;
  margin: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

.task-columns h2 {
  margin-top: 0;
}

.column {
  flex: 1;
}

button {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}